/* html { 
    background: url(/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

    /* Styliing banner */
    /* .img {
     height: 30%;
     width: 100%;
    } */

    /* bg image */
    /* #bg {
        position: fixed; 
        top: -50%; 
        left: -50%; 
        width: 200%; 
        height: 200%;
    }
    #bg img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
    } */

  body{
    background: linear-gradient(45deg, green, rgb(29, 29, 223));
  }
    .img img{
     height: 99vh;
     width: 100%;
     opacity: 0.8;
    }

    /* styling logo */
    .logo img{
        position: absolute;
        height: 12vh;
        width: 6vw;
        top: 5%;
        left: 3%;
    }

    /* Styling First Paragraph */

    .first_para{
        position: absolute;
        top: 41%;
        left: 40px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 4vw;
        color: white;

        /* adding animation */
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
            animation-fill-mode: forwards;
    }

    /* adding animation */

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    .first_para h3 span{
        color: #2a7507;

    }


    /* Section  */

    .section{
        /* flex-direction: column; */
        display: flex;
        justify-content: center !important; 
        /* align-items: center; */
    }
    .section h1{
 font-size: 3vw; ;
 color: white;
 font-family: 'Ubuntu', sans-serif;
 margin: 3% 0%;
    }

    /* styling hr tags */
   
    .hr{
        height: 4px;
        width: 121px;
        background-color: #2a7507;
        display: block;
        margin: 1% auto;
        border-radius: 2px;
        margin-top: -8px
    }


  

    .heading{
        position:absolute;
    /* top:0;
    left:0; */
    z-index:1;
    }
    .heading p{
        /* margin: 5px 5%; */
        text-align: center;
    }

.content-box{
    position: relative;
    text-align: center;
    color: black;
    margin: 4% 0%;
}
   .content-box img{
       height: 600px;
       width: 100%;
       opacity: .7;
       
   }
.text-file{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
font-size: 3vw;
}
   /* .text-file{
       position: absolute;
       top: 30%;
       left: 20%;
   } */
    .footer{
        background-color: black;
        color: white;
        width: 100%;
        height: 20px;
        text-align: center;
    }